<div id="catagolo" data-role="view" data-title="Revista" data-layout="inicio" data-model="app.home" data-init="app.home.onShow" data-after-show="app.home.afterShow" data-zoom="true">
    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_home -->
    <!--div id="fondoinicio">
        <img src="img/imagen-de-ingreso.png" style="width:100%" />
    </div>
    <div id="inicio"> 
		<form class="formulario form-group">
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="col-xs-8 col-xs-offset-2">
                    <label>Usuario
                        <input data-bind="value: homeModel.fields.usuario" type="text">
                    </label>
                </li>
                <li class="col-xs-8 col-xs-offset-2">
                    <label>Contraseña
                        <input data-bind="value: homeModel.fields.contrasena" type="password">
                    </label>
                </li>
            </ul>
            <div class="col-xs-8 col-xs-offset-2 boton">
                <button type="button" data-bind="events: { click: homeModel.sesion }" class="btn btn-default col-xs-8 col-xs-offset-2 azul borde">Aceptar</button>
            </div>
        </form>
    </div-->
    <div id="example">
        <div id="wrap" class="first-page">
            <ul id="book">
                <li id="Pagina28"><img src="" alt="Page 28" />
                </li>
                <li id="Pagina27"><img src="" alt="Page 27" />
                </li>
                <li id="Pagina26"><img src="" alt="Page 26" />
                </li>
                <li id="Pagina25"><img src="" alt="Page 25" />
                </li>
                <li id="Pagina24"><img src="" alt="Page 24" />
                </li>
                <li id="Pagina23"><img src="" alt="Page 23" />
                </li>
                <li id="Pagina22"><img src="" alt="Page 22" />
                </li>
                <li id="Pagina21"><img src="" alt="Page 21" />
                </li>
                <li id="Pagina20"><img src="" alt="Page 20" />
                </li>
                <li id="Pagina19"><img src="" alt="Page 19" />
                </li>
                <li id="Pagina18"><img src="" alt="Page 18" />
                </li>
                <li id="Pagina17"><img src="" alt="Page 17" />
                </li>
                <li id="Pagina16"><img src="" alt="Page 16" />
                </li>
                <li id="Pagina15"><img src="" alt="Page 15" />
                </li>
                <li id="Pagina14"><img src="" alt="Page 14" />
                </li>
                <li id="Pagina13"><img src="" alt="Page 13" />
                </li>
                <li id="Pagina12"><img src="" alt="Page 12" />
                </li>
                <li id="Pagina11"><img src="" alt="Page 11" />
                </li>
                <li id="Pagina10"><img src="" alt="Page 10" />
                </li>
                <li id="Pagina9"><img src="" alt="Page 9" />
                </li>
                <li id="Pagina8"><img src="" alt="Page 8" />
                </li>
                <li id="Pagina7"><img src="" alt="Page 7" />
                </li>
                <li id="Pagina6"><img src="" alt="Page 6" />
                </li>
                <li id="Pagina5"><img src="" alt="Page 5" />
                </li>
                <li id="Pagina4"><img src="" alt="Page 4" />
                </li>
                <li id="Pagina3"><img src="components/pageturn/pagina/3.jpg" alt="Page 3" />
                </li>
                <li id="Pagina2"><img src="components/pageturn/pagina/2.jpg" alt="Page 2" />
                </li>
                <li id="Pagina1" class="current"><img src="components/pageturn/pagina/1.jpg" alt="Page 1" />
                </li>
            </ul>
            <a href="#" id="previous">Previous page</a>
            <a href="#" id="next">Next page</a>
        </div>
        <script>
            $("#wrap").css("width", ($(window).width()) + "px");
            $("#wrap").css("height", ($(window).height() - 60) + "px");
            $("#book").css("height", ($(window).height() - 60) + "px");

            function current(page, newPageMenu) {


                if (page == "") {
                    cargarNuevaImagen(newPageMenu);
                    cargarNuevaImagen(newPageMenu + 1);
                    cargarNuevaImagen(newPageMenu - 1);
                    var book = $("#book"),
                        pages = book.children(),
                        pagesCount = pages.length,
                        current = pages.filter(".current"),
                        currentIndex = pagesCount - current.index(),
                        newPage;


                    pages.attr("style", "clip: auto; opacity: 1; display: none;");
                    pages.removeClass("current");

                    $("#Pagina" + newPageMenu).attr("style", "clip: auto; opacity: 1;");
                    $("#Pagina" + newPageMenu).addClass("current")


                    $(".km-scroll-container").css({
                        "-webkit-transform": "",
                        "transform-origin": "left top 0px"
                    });

                    $("#right-drawer").data("kendoMobileDrawer").hide();
                    return;
                }


                var book = $("#book"),
                    pages = book.children(),
                    pagesCount = pages.length,
                    current = pages.filter(".current"),
                    currentIndex = pagesCount - current.index(),
                    newPage;

                var select = "img['alt'='Page 15']";

                // console.log('$("#Pagina"+currentIndex).next().attr("src"): ' + $("#Pagina" + currentIndex).next() );
                console.log($('img[alt="Page ' + currentIndex + '"]').attr("src"));
                console.log("xxxcurrentIndex: " + currentIndex);

                if (!arguments.length) {
                    return currentIndex;
                }

                if (book.data("animating")) {
                    return;
                }

                $("#wrap").toggleClass("first-page", page == 1)
                    .toggleClass("last-page", page == pagesCount);

                if (page != currentIndex) {
                    current.removeClass("current");
                    newPage = pages.eq(pagesCount - page).addClass("current");
                    var index = currentIndex + 2;

                    console.log(current);
                    console.log(newPage);
                    console.log("currentIndex: " + currentIndex);


                    if (page > currentIndex) {
                        if ($('img[alt="Page ' + currentIndex + 1 + '"]').attr("src") == "") {
                            console.log(11);
                            $('img[alt="Page ' + currentIndex + 1 + '"]').attr("src", "components/pageturn/pagina/" + currentIndex + 1 + ".jpg");
                        }
                        kendo.fx(book).pageturnHorizontal(current, newPage).duration(1000).play();
                    } else {

                        if ($('img[alt="Page ' + (currentIndex - 1) + '"]').attr("src") == "") {
                            console.log(22);
                            $('img[alt="Page ' + (currentIndex - 1) + '"]').attr("src", "components/pageturn/pagina/" + (currentIndex - 1) + ".jpg");
                        }
                        kendo.fx(book).pageturnHorizontal(newPage, current).duration(1000).reverse();
                    }

                    $(".km-scroll-container").css({
                        "-webkit-transform": "",
                        "transform-origin": "left top 0px"
                    });

                    //$("#book").attr("style","");

                    setTimeout('cargarNuevaImagen(' + index + ')', 2000);
                }
            }

            function cargarNuevaImagen(index) {
                if ($('img[alt="Page ' + index + '"]').attr("src") == "") {
                    $('img[alt="Page ' + index + '"]').attr("src", "components/pageturn/pagina/" + index + ".jpg");
                }
            }

            $("#previous").click(function (e) {
                e.preventDefault();
                current(Math.max(1, current() - 1));
            });

            $("#next").click(function (e) {
                e.preventDefault();
                current(Math.min(28, current() + 1));
            });
            $("#wrap").kendoTouch({
                enableSwipe: true,
                swipe: function (e) {
                    if (e.direction == "left") {
                        e.preventDefault();
                        //Si colocamos Math.min(...  mas de la cantidad de imágenes regresa al incio en el final  
                        current(Math.min(28, current() + 1));
                    } else {
                        e.preventDefault();
                        current(Math.max(1, current() - 1));
                    }
                }
            });
        </script>
        <style>
            #book li img {
                width: 100%;
                height: 95%;
                overflow: hidden !important;
                resize: both;
            }
            #wrap {
                /*                 Se comentó esto a pedido de Jhon */
                /*                 background-image: url("components/pageturn/book.png"); */
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 375px;
                height: 510px;
                position: relative;
            }
            #book {
                position: relative;
                width: 94%;
                height: 480px;
                margin: 0 auto;
                padding: 30px 0px 0px 0px;
                list-style-type: none;
            }
            #book > li {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparent;
            }
            #actions {
                overflow: hidden;
                margin: 0 auto 3em;
                width: 650px;
                background-color: red;
            }
            #previous,
            #next {
                text-decoration: none;
                text-indent: -999em;
                overflow: hidden;
                display: block;
                height: 100%;
                width: 90px;
                position: absolute;
                top: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                opacity: .5
            }
            #previous:hover,
            #next:hover {
                opacity: 1;
            }
            #previous {
                left: 0;
                background-image: url("components/pageturn/arrow-left.png");
            }
            #next {
                right: 0;
                background-image: url("components/pageturn/arrow-right.png");
            }
            .first-page #previous,
            .last-page #next {
                display: none;
            }
        </style>
    </div>
</div>