<div data-role="view" data-title="Puntos" data-layout="main" data-model="app.puntos" data-show="app.puntos.onShow" data-after-show="app.puntos.afterShow">
    <div id="puntosModel" class="form-view">
        <div id="inicio">
            <div id="cliente" class="centro">
                <h2 id="nombres">Javier Enrique</h2>
                <h2 id="apellidos">Malaver Uchida</h2>
            </div>
            <div id="puntos" class="centro">
                <h1 class="amarillo">696</h1>
                <h2 class="azul">Puntos</h2>
            </div>
        </div>
        <!-- START_CUSTOM_CODE_puntosModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_puntosModel -->
    </div>
    <div class="pie"><img src="img/dis_azul.png">
    </div>
    <!-- START_CUSTOM_CODE_puntos -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_puntos -->
</div>